.Card{
    border: 1px solid lightgray;
    text-align: center;
    width: max-content;
    margin: 40px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 7px -8px 5px 0px rgba(0,0,0,0.4);
    -webkit-box-shadow: 7px -8px 5px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 7px -8px 5px 0px rgba(0,0,0,0.4);
}

.Card:hover {
    transform: scale(1.02);
}

.Card small {
    float: right;
}

.Capitalize {
    text-transform: capitalize;
}